<ion-header>
  <ion-navbar>
    <ion-title>{{ "SEARCH_TITLE" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
    (ionInput)="getItems($event)"
    placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"
  ></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openItem(item)" *ngFor="let item of currentItems">
      <ion-avatar item-start>
        <img [src]="item.imagem" />
      </ion-avatar>
      <h2>{{ item.nome }}</h2>
      <p>{{ item.descricao }}</p>
      <ion-note item-end *ngIf="item.safra">{{ item.safra }}</ion-note>
    </button>
  </ion-list>
</ion-content>
