<ion-header>
  <ion-navbar>
    <ion-title>{{ "LIST_MASTER_TITLE" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
    (ionInput)="getItems($event)"
    placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"
  ></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.imagem" />
        </ion-avatar>
        <h2>
          {{ item.nome }}
        </h2>
        <p>{{ item.descricao }}</p>
        <ion-note item-end *ngIf="item.safra">{{ item.safra }}</ion-note>
      </button>

      <ion-item-options side="left">
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ "DELETE_BUTTON" | translate }}
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="success" (click)="editItem(item)">
          {{ "EDIT_BUTTON" | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab bottom right #fab>
    <button color="cor-padrao" ion-fab="" (click)="addItem()" class="fab">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
